#map {
    height: 400px;
 }



 .numbered-marker-icon {
     background-color: #2a93ee;
     color: white;
     text-align: center;
     border-radius: 50%;
     line-height: 25px;
     font-weight: bold;
 }

 .custom-icon {
     font-size: 35px;
     border: 7px;
     font-size: 35px;
     color: #38f;
     border: 7px;
     margin-left: -13px !important;
     margin-top: -42px !important;
 }

 .icon-number {
     position: absolute;
     left: 0;
     color: white;
     font-size: 13px;
     top: 3px;
     padding: 10px;
 }

 .content-icon {
     position: relative;
 }

 .active-marker {
     animation: border-pulse 1.5s infinite;
     border-radius: 50%;
 }

 @keyframes border-pulse {
     0% {
         box-shadow: 0 0 0 0 rgb(254, 0, 0);
     }

     70% {
         box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
     }

     100% {
         box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
     }
 }

 .leaflet-popup-content-wrapper {
     background: #f9f9f9;
     border-radius: 5px;
     box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
 }

 .leaflet-popup-content {
    font-size: 12px;
        color: #333;
        margin: 12px;
 }

 .popup-header {
     font-weight: bold;
     margin-bottom: 5px;
 }

 .popup-row {
     margin-bottom: 3px;
 }

 .popup-label {
     font-weight: bold;
 }

  #drivers {
      margin-bottom: 20px;
  }

  .driver {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 8fr;
    margin-bottom: 5px;
    justify-content: space-around;
    align-items: center;
  }
  .driver-info{
    display: flex;
    flex-direction: column;
  }
.driver-info-detail{
    display: none;
}
.driver-lock{
    visibility: hidden;
}
.driver-circle {
    visibility: hidden;
}
  .driver input {
      margin-right: 10px;
  }

  #orders{
    display: none !important;
  }
#orders.show-orders {
    display: block !important;
}
 .stats {
     display: flex;
     justify-content: space-between;
     margin-bottom: 10px;
 }
.stat-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
 }