 body {
     margin: 0;
     font-family: Arial, sans-serif;
 }

 #container {
     display: grid;
     grid-template-columns: 1fr 4fr;
     height: 100vh;
 }

 #sidebar {
     width: 300px;
     background: #f5f5f5;
     padding: 10px;
     border-right: 1px solid #ddd;
     overflow-y: auto;
 }

 #plan-optimize {
     margin-bottom: 20px;
 }

 .stats {
     display: flex;
     justify-content: space-between;
     margin-bottom: 10px;
 }

 .stat {
     background: #ddd;
     padding: 5px;
     border-radius: 5px;
 }

 #drivers {
     margin-bottom: 20px;
 }

 .driver {
     display: flex;
     align-items: center;
     margin-bottom: 5px;
 }

 .driver input {
     margin-right: 10px;
 }

 #map {
     height: 1000px;
 }
 #bottom-bar {
     background: #fff;
     border-top: 1px solid #ddd;
     padding: 10px;
     display: flex;
     flex-direction: column;
     height: 250px;
 }

 #tabs {
     display: flex;
     border-bottom: 1px solid #ddd;
 }

 .tab-button {
     flex: 1;
     padding: 10px;
     border: none;
     background: none;
     cursor: pointer;
 }

 .tab-button.active {
     background: #ddd;
 }

 #tab-content {
     flex: 1;
     overflow-y: auto;
 }

 .tab {
     display: none;
     padding: 10px;
 }

 .tab.active {
     display: block;
 }

 table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 10px;
 }

 thead {
     background: #f5f5f5;
 }

 th,
 td {
     padding: 10px;
     border: 1px solid #ddd;
     text-align: left;
 }

 #sidebar-content {
     display: flex;
     flex-direction: column;
 }

 .numbered-marker-icon {
     background-color: #2a93ee;
     color: white;
     text-align: center;
     border-radius: 50%;
     line-height: 25px;
     font-weight: bold;
 }

 .custom-icon {
     font-size: 35px;
     border: 7px;
     font-size: 35px;
     color: #38f;
     border: 7px;
     margin-left: -13px !important;
     margin-top: -42px !important;
 }

 .icon-number {
     position: absolute;
     left: 0;
     color: white;
     font-size: 13px;
     top: 3px;
     padding: 10px;
 }

 .content-icon {
     position: relative;
 }

 .active-marker {
     animation: border-pulse 1.5s infinite;
     border-radius: 50%;
 }

 @keyframes border-pulse {
     0% {
         box-shadow: 0 0 0 0 rgb(254, 0, 0);
     }

     70% {
         box-shadow: 0 0 0 10px rgba(255, 0, 0, 0);
     }

     100% {
         box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
     }
 }